<div><%= @user %></div>
<div><%= @user.created %></div>
<div><%= @user.karma %></div>
<div><%= @user.about %></div>
<div><%= @user.email %></div>
<div><%= @user.showdead %></div>
<div>change password</div>
<div>saved stories</div>
<div>submissions</div>
<div>comments</div>
<button type="button">update</button>
